
#side{
   
    text-align: right;
    float: right;
    top: 140px;
    right: 16px;
    position: absolute;
    padding-right: 220px;
    padding-top: 10px ;
    color: white;
  }

  .first{
   
    font-size: 60px;
    color: white;
    font-weight: bold;

  }

  .second{
   
    font-size: 16px;
    color: white;
    line-height: 1.5em;
    
  }

  .third{
   
    font-size: 20px;
    color: rgb(11, 60, 206);
    padding: 15px;
    border-radius: 8px;
    border: none;
 }

 .picture{
   
    padding-left: 140px;
    padding-top: 90px;
 }


 #side2{
   
    text-align: left;
    float: right;
    padding-right: 285px;
    padding-top: 310px ;
   
  }

  .first1{
   
    font-size: 35px;
    font-weight: bold;
 }

 .second1{
   
    font-size: 16px;
    line-height: 1.5em;
    
  }

  .third1{
   
    font-size: 16px;
    line-height: 1.5em;
    list-style-type: "\2713";
}

.first2{
   
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
}

.plan{
   
    display: flex;
    justify-content:space-evenly ;
    line-height: .7em;

}

.plan-name{
   
   font-size: 26px;
   font-weight: bold;
   text-align: center;
}

.plan-description{
   
    font-size: 23px;
    text-align: center;
    font-weight: bold;
    color: rgb(101, 95, 95);
    
 }

 .last{
   display: flex;
    background-color: black;
    color: white;
    gap: 555px;
    padding: 100px 150px ;
 }


 .third2{
   
  font-size: 20px;
  color: white;
  padding: 15px;
  border-radius: 8px;
  border: none;
  background-color: rgb(47, 79, 161);
  padding-top: 5%;
}

